<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 设置日志 -->
		<setting value="LOG4J" name="logImpl" />
		<!-- 设置驼峰转换 -->
		<setting value="true" name="mapUnderscoreToCamelCase" />
	</settings>
	<typeAliases >
		<package name="com.spring.entity"/>
	</typeAliases>
	<mappers>
		<package name="mapper"/>
	</mappers>
</configuration>